@import "../../Scss/Variables.scss";

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  padding: 30px 0;
  color: $white;
  background-color: $textBlue;
  overflow: auto;
  transition: left 0.6s ease-out;

  &--active {
    left: 0%;
  }
}

.menu__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu__button {
  display: inline-block;
  padding: 9px;
  color: $textBlue;
  border: none;
  border-radius: 50%;
  background-color: $accent;
}

@media only screen and (max-width: 450px) {
  .menu {
    padding: 20px 0;
  }
}
