@import "../../Scss/Variables.scss";

.hero {
  height: calc(100vh - 80px);
  margin-top: 80px;
}

.container {
  height: 100%;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.hero__info {
  max-width: 555px;
  width: 100%;
}

.hero__heading {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;

  &::after {
    content: "";
    position: absolute;
    top: 54px;
    left: 308px;
    z-index: -1;
    width: 163px;
    height: 145px;
    display: inline-block;
    background-image: url("../../Assets/Images/Hero/Hit.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.hero__subheading {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
  color: $darkBlue;
}

.hero__description {
  max-width: 310px;
  width: 100%;
  margin: 0;
  margin-bottom: 82px;
  color: $green;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 187px;
  width: 100%;
  padding: 16px 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  background: $yellowGradient;
  border-radius: 130px;
  box-shadow: -12px 12px 28px $lightYellow;
  cursor: pointer;
}

.hero__image {
  height: auto;
}

@media only screen and (min-height: 1280px) {
  .hero {
    height: 1200px;
  }
}

@media only screen and (max-height: 850px) {
  .hero {
    height: 770px;
  }
}

@media only screen and (max-width: 1450px) {
  .hero__info {
    flex-shrink: 0;
  }

  .hero__image {
    max-width: 700px;
    width: 100%;
    height: auto;
    flex-shrink: 1;
  }
}

@media only screen and (max-width: 1335px) {
  .hero__image {
    max-width: 600px;
  }
}

@media only screen and (max-width: 1235px) {
  .hero__info {
    max-width: 500px;
  }

  .hero__heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;

    &::after {
      top: 45px;
      left: 250px;
      width: 150px;
      height: 140px;
    }
  }

  .hero__image {
    max-width: 600px;
  }
}

@media only screen and (max-width: 1180px) {
  .hero__inner {
    padding: 0;
  }
}

@media only screen and (max-width: 1150px) {
  .hero {
    height: calc(100vh - 148px);
    margin-top: 0;
  }
}

@media only screen and (max-width: 1140px) {
  .hero {
    margin-top: 0;
    text-align: center;
  }

  .hero__inner {
    justify-content: center;
  }

  .hero__heading {
    &::after {
      left: 335px;
    }
  }

  .hero__description {
    margin-right: auto;
    margin-left: auto;
  }

  .hero__link {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 550px) {
  .hero {
    height: calc(100vh - 155px);
  }

  .hero__heading {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 37px;
    line-height: 42px;

    &::after {
      top: 15px;
      left: 215px;
      width: 97px;
      height: 97px;
    }
  }

  .hero__subheading {
    margin-bottom: 24px;
  }

  .hero__description {
    margin-bottom: 57px;
  }
}

@media only screen and (max-width: 550px) {
  .hero__subheading {
    font-size: 18px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 375px) {
  .hero__description {
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .hero__heading {
    font-size: 34px;
    line-height: 40px;

    &::after {
      left: 195px;
    }
  }
}
