@import "../../Scss/Variables.scss";

.hero {
  position: relative;
  height: calc(100vh - 80px);
  margin-top: 80px;
  overflow-x: visible;

  &::before {
    content: "";
    position: absolute;
    top: 218px;
    right: calc(50% + 95px);
    z-index: -4;
    width: 1530px;
    height: 1530px;
    background-image: url("../../Assets/Images/Design/Vector.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(107.66deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: -76px;
    left: calc(50% + 360px);
    z-index: -4;
    width: 1730px;
    height: 1730px;
    background-image: url("../../Assets/Images/Design/Vector.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-109.56deg);
  }
}

.hero__circle {
  position: absolute;
  top: 0;
  left: calc(50% + 360px);
  z-index: -5;
  filter: blur(133px);
}

.container {
  height: 100%;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.hero__info {
  max-width: 555px;
  width: 100%;
}

.hero__heading {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;

  &::after {
    content: "";
    position: absolute;
    top: 54px;
    left: 308px;
    z-index: -1;
    width: 163px;
    height: 145px;
    display: inline-block;
    background-image: url("../../Assets/Images/Hero/Hit.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
  }
}

.hero__subheading {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
  color: $darkBlue;
}

.hero__description {
  max-width: 310px;
  width: 100%;
  margin: 0;
  margin-bottom: 82px;
  color: $green;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 187px;
  width: 100%;
  padding: 16px 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  background: $yellowGradient;
  border-radius: 130px;
  box-shadow: -12px 12px 28px $lightYellow;
  cursor: pointer;
}

.hero__image {
  height: auto;
}

@media only screen and (max-width: 1920px) {
  .hero {
    &::after {
      right: -1130px;
      left: unset;
    }
  }
}

@media only screen and (max-width: 1450px) {
  .hero__info {
    flex-shrink: 0;
  }

  .hero__image {
    max-width: 700px;
    width: 100%;
    height: auto;
    flex-shrink: 1;
  }
}

@media only screen and (max-width: 1335px) {
  .hero__image {
    max-width: 600px;
  }
}

@media only screen and (max-width: 1235px) {
  .hero__info {
    max-width: 500px;
  }

  .hero__heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;

    &::after {
      top: 45px;
      left: 250px;
      width: 150px;
      height: 140px;
    }
  }

  .hero__image {
    max-width: 600px;
  }
}

@media only screen and (max-width: 1180px) {
  .hero__inner {
    padding: 0;
  }
}

@media only screen and (max-width: 1140px) {
  .hero {
    margin-top: 0;
    text-align: center;
  }

  .hero__circle {
    top: calc(50% - 95px);
    left: calc(50% + 260px);
    transform: translate(-50%, -50%);
    filter: blur(100px);
    opacity: 0.5;
  }

  .hero__inner {
    justify-content: center;
  }

  .hero__heading {
    &::after {
      left: 335px;
    }
  }

  .hero__description {
    margin-right: auto;
    margin-left: auto;
  }

  .hero__link {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    &::before {
      top: calc(100% + 200px);
      right: calc(50% + 245px);
      transform: translate(50%) rotate(-112.47deg);
      z-index: -4;
      width: 878px;
      height: 836px;
      background-image: url("../../Assets/Images/Design/VectorMobile.svg");
      background-size: 878px 836px;
    }

    &::after {
      top: calc(50% + 35px);
      left: calc(50% + 325px);
      transform: translate(-50%, -50%) rotate(-133.46deg);
      width: 878px;
      height: 836px;
      background-image: url("../../Assets/Images/Design/VectorMobile.svg");
      background-size: 878px 836px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .hero {
    height: calc(100vh - 155px);
  }

  .hero__heading {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 37px;
    line-height: 42px;

    &::after {
      top: 15px;
      left: 205px;
      width: 97px;
      height: 97px;
    }
  }

  .hero__subheading {
    margin-bottom: 24px;
  }

  .hero__description {
    margin-bottom: 57px;
  }
}

@media only screen and (max-width: 550px) {
  .hero__subheading {
    font-size: 18px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 375px) {
  .hero__description {
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .hero__heading {
    font-size: 34px;
    line-height: 40px;

    &::after {
      left: 195px;
    }
  }
}

@media only screen and (min-height: 1000px) and (min-width: 1450px) {
  .hero {
    height: 920px;
  }
}

@media only screen and (max-height: 840px) and (min-width: 1450px) {
  .hero {
    height: 760px;
  }
}

@media only screen and (min-height: 850px) and (max-width: 1450px) {
  .hero {
    height: 770px;
  }
}

@media only screen and (max-height: 740px) and (max-width: 1450px) {
  .hero {
    height: 660px;
  }
}

@media only screen and (min-height: 770px) and (max-width: 1335px) {
  .hero {
    height: 690px;
  }
}

@media only screen and (max-height: 770px) and (max-width: 1335px) {
  .hero {
    height: calc(100vh - 80px);
  }
}

@media only screen and (max-height: 660px) and (max-width: 1335px) {
  .hero {
    height: 580px;
  }
}

@media only screen and (min-height: 840px) and (max-width: 1140px) {
  .hero {
    height: 692px;
  }
}

@media only screen and (max-height: 840px) and (max-width: 1140px) {
  .hero {
    height: calc(100vh - 148px);
  }
}

@media only screen and (max-height: 700px) and (max-width: 1140px) {
  .hero {
    height: 552px;
  }
}

@media only screen and (min-height: 840px) and (max-width: 550px) {
  .hero {
    height: 685px;
  }
}

@media only screen and (max-height: 840px) and (max-width: 550px) {
  .hero {
    height: calc(100vh - 155px);
  }
}

@media only screen and (max-height: 588px) and (max-width: 550px) {
  .hero {
    height: 433px;
  }
}

@media only screen and (min-height: 840px) and (max-width: 425px) {
  .hero {
    height: 715px;
  }
}

@media only screen and (max-height: 840px) and (max-width: 425px) {
  .hero {
    height: calc(100vh - 125px);
  }
}

@media only screen and (max-height: 550px) and (max-width: 425px) {
  .hero {
    height: 425px;
  }
}
