@import "../../Scss/Variables.scss";
@import "../../Scss/Animations.scss";

.motion {
  height: 100vh;
  padding: 20px 0;
}

.container {
  position: relative;
  height: 100%;
}

.motion__circle {
  position: absolute;
  top: -111px;
  right: calc(50% + 570px);
  z-index: -6;
  filter: blur(25px);
}

.motion__inner {
  position: relative;
  height: 100%;
  background-image: url("../../Assets/Images/Motion/BackgroundDesktop@1x.webp");
  background-size: 1920px 1080px;
  background-position: -115px -35px;
  background-repeat: no-repeat;
  border-radius: 81px;
  overflow: hidden;
}

.motion__image {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% + 60px);
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 1920px;
  height: 1080px;
  object-fit: contain;
  pointer-events: none;
}

.motion__inner__top {
  position: absolute;
  top: calc(50% + 285px);
  left: calc(50% - 224px);
  transform: translate(-50%, -50%);
}

.motion__heading {
  margin: 0;
  font-weight: 800;
  font-size: 247px;
  line-height: 301px;
  text-transform: uppercase;
  background: linear-gradient(270.14deg, $textBlue 2.11%, #006996 97.49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 5px 10px);
}

.motion__heading__design {
  position: absolute;
  top: 30px;
  right: -384px;
  width: 445px;
  height: 238px;
  background-image: url("../../Assets/Images/Design/Design.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.motion__heading__move {
  &::before {
    content: "";
    position: absolute;
    top: 73px;
    left: 260px;
    width: 160px;
    height: 160px;
    background-image: url("../../Assets/Images/Motion/Move.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    animation: move 2.2s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    top: 73px;
    right: 224px;
    width: 160px;
    height: 160px;
    background-image: url("../../Assets/Images/Motion/Move.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    animation: move 2.2s linear infinite;
  }
}

.motion__wrapper {
  position: absolute;
  bottom: calc(50% - 45px);
  left: calc(50% + 145px);
  z-index: 9;
  max-width: 315px;
  width: 100%;
}

.motion__info {
  padding-top: 120px;
  padding-bottom: 85px;
  padding-left: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: #ffffff;
  border-radius: 60px;

  &::before {
    content: "";
    position: absolute;
    top: -36px;
    right: -85px;
    z-index: 9;
    transform: rotate(151.16deg);
    width: 210px;
    height: 210px;
    filter: blur(29px);
    mix-blend-mode: multiply;
    opacity: 0.5;
    background-image: url("../../Assets/Images/Motion/PlayShadow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 0 center;
  }

  &::after {
    content: "";
    position: absolute;
    top: -70px;
    right: -108px;
    z-index: 9;
    transform: rotate(-19.66deg);
    width: 216px;
    height: 218px;
    background-image: url("../../Assets/Images/Motion/Play@1x.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.motion__info__heading {
  position: absolute;
  top: -12px;
  left: -10px;
  margin: 0;
  padding: 27px 45px;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  color: $accent;
  background: radial-gradient(85.48% 131.72% at 9.41% 9.14%, #006996 0%, #003246 100%);
  border-radius: 25px;
}

.motion__info__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.motion__info__subheading {
  margin: 0;
  font-weight: 700;
}

.motion__info__image {
  &::before {
    content: "";
    position: absolute;
    bottom: 95px;
    right: -68px;
    z-index: 10;
    transform: rotate(20.6deg);
    width: 106px;
    height: 106px;
    mix-blend-mode: multiply;
    opacity: 0.47;
    background-image: url("../../Assets/Images/Motion/Clapper@1x.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(12px);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 100px;
    right: -100px;
    z-index: 10;
    transform: rotate(20.6deg);
    width: 128px;
    height: 128px;
    background-image: url("../../Assets/Images/Motion/Clapper@1x.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media only screen and (max-width: 1600px) {
  .motion__inner {
    background-size: cover;
    background-position: 40% center;
  }

  .motion__inner__top {
    top: calc(50% + 230px);
    left: calc(50% - 150px);
  }

  .motion__heading {
    font-size: 230px;
    line-height: 240px;
  }

  .motion__heading__design {
    right: -300px;
    width: 350px;
    height: 190px;
  }

  .motion__heading__move {
    &::before {
      top: 47px;
      left: 241px;
      width: 150px;
      height: 150px;
    }

    &::after {
      top: 47px;
      right: 208px;
      width: 150px;
      height: 150px;
    }
  }

  .motion__image {
    top: calc(50% - 65px);
    left: calc(50% + 114px);
    width: 1800px;
    height: 1010px;
  }
}

@media only screen and (max-width: 1350px) {
  .motion__inner {
    background-size: auto 100%;
    background-position: 40% center;
  }

  .motion__inner__top {
    top: calc(50% + 195px);
  }

  .motion__heading {
    font-size: 200px;
    line-height: 240px;
  }

  .motion__heading__design {
    right: -300px;
    width: 350px;
    height: 190px;
  }

  .motion__heading__move {
    &::before {
      top: 57px;
      left: 210px;
      width: 130px;
      height: 130px;
    }

    &::after {
      top: 57px;
      right: 181px;
      width: 130px;
      height: 130px;
    }
  }

  .motion__image {
    top: calc(50% - 65px);
    left: calc(50% + 80px);
    width: 1565px;
    height: 885px;
  }

  .motion__wrapper {
    bottom: calc(50% - 80px);
  }
}

@media only screen and (max-width: 1250px) {
  .motion__inner {
    background-size: auto 100%;
    background-position: 40% center;
    border-radius: 50px;
  }

  .motion__image {
    top: calc(50% - 20px);
    left: calc(50% + 85px);
    width: 1320px;
    height: 750px;
  }

  .motion__inner__top {
    top: calc(50% + 197px);
    left: calc(50% - 110px);
  }

  .motion__heading {
    font-size: 170px;
    line-height: 200px;
  }

  .motion__heading__design {
    right: -230px;
    width: 280px;
    height: 150px;
  }

  .motion__heading__move {
    &::before {
      top: 46px;
      left: 179px;
      width: 110px;
      height: 110px;
    }

    &::after {
      top: 46px;
      right: 155px;
      width: 110px;
      height: 110px;
    }
  }

  .motion__wrapper {
    bottom: calc(50% - 90px);
    left: calc(50% + 85px);
  }

  .motion__info {
    &::before {
      top: -26px;
      right: -55px;
      width: 170px;
      height: 170px;
    }

    &::after {
      top: -60px;
      right: -78px;
      width: 180px;
      height: 180px;
    }
  }

  .motion__info__image {
    &::before {
      bottom: 145px;
      right: -28px;
      width: 86px;
      height: 86px;
    }

    &::after {
      bottom: 140px;
      right: -60px;
      width: 108px;
      height: 108px;
    }
  }
}

@media only screen and (max-width: 1030px) {
  .motion__inner {
    background-size: auto 100%;
    background-position: 40% center;
  }

  .motion__image {
    top: calc(50% - 22px);
    left: calc(50% + 62px);
    width: 1100px;
    height: 620px;
  }

  .motion__inner__top {
    top: calc(50% + 160px);
    left: calc(50% - 100px);
  }

  .motion__heading {
    font-size: 140px;
    line-height: 160px;
  }

  .motion__heading__design {
    top: 15px;
    right: -200px;
    width: 230px;
    height: 130px;
  }

  .motion__heading__move {
    &::before {
      top: 36px;
      left: 147px;
      width: 90px;
      height: 90px;
    }

    &::after {
      top: 36px;
      right: 128px;
      width: 90px;
      height: 90px;
    }
  }

  .motion__wrapper {
    bottom: calc(50% - 90px);
    left: calc(50% + 85px);
  }

  .motion__info {
    max-width: 357px;
    width: 100%;
    padding-top: 74px;
    padding-bottom: 34px;
    padding-left: 34px;

    &::before {
      right: 5px;
      width: 130px;
      height: 130px;
    }

    &::after {
      right: -18px;
      width: 140px;
      height: 140px;
    }
  }

  .motion__info__heading {
    top: -26px;
    left: -12px;
    padding: 21px 36px;
    font-size: 32px;
    line-height: 40px;
  }

  .motion__info__image {
    &::before {
      bottom: 95px;
      right: 0px;
      width: 66px;
      height: 66px;
    }

    &::after {
      bottom: 100px;
      right: -20px;
      width: 78px;
      height: 78px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .motion {
    padding: 0;
  }

  .container {
    padding: 0;
  }

  .motion__inner {
    background-image: url("../../Assets/Images/Motion/BackgroundMobile@1x.webp");
    background-size: 100% auto;
    background-position: center 0px;
    border-radius: unset;
    background-color: #ff9d01;
  }

  .motion__image {
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 540px;
    height: auto;
  }

  .motion__inner__top {
    top: 292px;
    left: 50%;
    transform: translate(-50%, 0);

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      z-index: -1;
      width: calc(100% + 200px);
      height: 100%;
      background-color: #ffe664;
      border-radius: 50%;
      filter: blur(25px);
      opacity: 0.9;
    }
  }

  .motion__heading {
    font-size: 116px;
    line-height: 130px;
  }

  .motion__heading__design {
    top: 70px;
    right: -14px;
    z-index: 2;
    width: 245px;
    height: 130px;
  }

  .motion__heading__move {
    &::before {
      top: 28px;
      left: 332px;
      width: 75px;
      height: 75px;
    }

    &::after {
      top: 28px;
      right: 315px;
      width: 75px;
      height: 75px;
    }
  }

  .motion__wrapper {
    top: unset;
    bottom: 100px;
    left: 50%;
    max-width: 360px;
    transform: translate(-50%, 0);
  }

  .motion__info {
    max-width: 100%;
    padding-top: 74px;
    padding-bottom: 70px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    border-radius: 60px;

    &::before {
      top: -11px;
      right: -15px;
      width: 155px;
      height: 155px;
    }

    &::after {
      top: -36px;
      right: -33px;
      width: 160px;
      height: 160px;
    }
  }

  .motion__info__heading {
    top: -26px;
    left: -12px;
    padding: 21px 36px;
    font-size: 32px;
    line-height: 40px;
  }

  .motion__info__image {
    &::before {
      bottom: 82px;
      right: -2px;
      width: 78px;
      height: 78px;
    }

    &::after {
      bottom: 85px;
      right: -27px;
      width: 94px;
      height: 94px;
    }
  }
}

@media only screen and (max-width: 680px) {
  .motion__inner {
    // background-size: 680px auto;
    // background-position: center 0;
  }
}

@media only screen and (max-width: 550px) {
  .motion__inner {
    // background-size: 550px auto;
    // background-position: center -20px;
  }

  .motion__image {
    top: 0px;
    left: 50%;
    width: 477px;
  }

  .motion__inner__top {
    top: 245px;
    left: 50%;
  }

  .motion__heading {
    font-size: 103px;
    line-height: 120px;
  }

  .motion__heading__design {
    top: 62px;
    right: -11px;
    width: 245px;
    height: 120px;
  }

  .motion__heading__move {
    &::before {
      top: 28px;
      left: 294px;
      width: 67px;
      height: 67px;
    }

    &::after {
      top: 28px;
      left: 108px;
      width: 67px;
      height: 67px;
    }
  }

  .motion__wrapper {
    bottom: 80px;
  }

  .motion__info {
    font-weight: 500;

    &::before {
      top: -11px;
      right: -15px;
      width: 155px;
      height: 155px;
    }

    &::after {
      top: -36px;
      right: -33px;
      width: 160px;
      height: 160px;
    }
  }

  .motion__info__heading {
    top: -26px;
    left: -12px;
    padding: 21px 36px;
    font-size: 32px;
    line-height: 40px;
  }

  .motion__info__image {
    &::before {
      bottom: 82px;
      right: -2px;
      width: 78px;
      height: 78px;
    }

    &::after {
      bottom: 85px;
      right: -27px;
      width: 94px;
      height: 94px;
    }
  }
}

@media only screen and (max-width: 460px) {
  .motion__inner {
    // background-size: 460px auto;
  }

  .motion__image {
    top: 30px;
    width: 372px;
  }

  .motion__heading {
    font-size: 80px;
    line-height: 100px;
  }

  .motion__heading__design {
    top: 50px;
    right: 0px;
    width: 160px;
    height: 85px;
  }

  .motion__heading__move {
    &::before {
      top: 24px;
      left: 84px;
      width: 52px;
      height: 52px;
    }

    &::after {
      top: 24px;
      left: 229px;
      width: 52px;
      height: 52px;
    }
  }

  .motion__inner__top {
    top: 220px;
  }
}

@media only screen and (max-width: 410px) {
  .motion__wrapper {
    left: 50%;
    max-width: 300px;
  }

  .motion__info {
    max-width: 300px;
    padding-top: 60px;
    padding-bottom: 66px;
    padding-left: 16px;
    font-size: 13px;
    line-height: 16px;
    border-radius: 40px;

    &::before {
      top: -20px;
      right: 0px;
      width: 115px;
      height: 115px;
    }

    &::after {
      top: -55px;
      right: -10px;
      width: 120px;
      height: 120px;
    }
  }

  .motion__info__heading {
    top: -25px;
    left: -5px;
    padding: 20px 35px;
    font-size: 30px;
    line-height: 36px;
    border-radius: 16px;
  }

  .motion__info__image {
    &::before {
      bottom: 110px;
      right: 10px;
      width: 60px;
      height: 60px;
    }

    &::after {
      bottom: 115px;
      right: -10px;
      width: 70px;
      height: 70px;
    }
  }
}

@media only screen and (max-width: 360px) {
  .motion__inner {
    // background-size: 360px auto;
  }

  .motion__image {
    top: 55px;
    width: 330px;
    height: 580px;
  }

  .motion__heading {
    font-size: 70px;
    line-height: 90px;
  }

  .motion__heading__move {
    &::before {
      top: 22.5px;
      left: 74px;
      width: 46px;
      height: 46px;
    }

    &::after {
      top: 22.5px;
      left: 200px;
      width: 46px;
      height: 46px;
    }
  }
}

@media only screen and (min-height: 1080px) and (min-width: 1640px) {
  .motion {
    height: 1080px;
  }
}

@media only screen and (max-height: 940px) and (min-width: 1640px) {
  .motion__inner__top {
    top: calc(50% + 240px);
  }

  .motion__image {
    top: calc(50% - 75px);
  }
}

@media only screen and (max-height: 820px) and (min-width: 1640px) {
  .motion {
    height: 820px;
  }
}

@media only screen and (min-height: 1080px) and (max-width: 1640px) {
  .motion {
    height: 1080px;
  }
}

@media only screen and (max-height: 800px) and (max-width: 1640px) {
  .motion {
    height: 800px;
  }
}

@media only screen and (max-height: 800px) and (max-width: 1350px) {
  .motion {
    height: 100vh;
  }
}

@media only screen and (max-height: 780px) and (max-width: 1350px) {
  .motion__inner {
    // background-size: cover;
    // background-position: 40% center;
  }
}

@media only screen and (max-height: 720px) and (max-width: 1350px) {
  .motion {
    height: 720px;
  }
}

@media only screen and (max-height: 820px) and (max-width: 1250px) {
  .motion {
    height: 100vh;
  }
}

@media only screen and (min-height: 820px) and (max-width: 1250px) {
  .motion {
    height: 820px;
  }
}

@media only screen and (max-height: 650px) and (max-width: 1250px) {
  .motion {
    height: 650px;
  }
}

@media only screen and (min-height: 650px) and (max-width: 1000px) {
  .motion {
    height: 650px;
  }
}

@media only screen and (max-height: 650px) and (max-width: 1000px) {
  .motion {
    height: 100vh;
  }
}

@media only screen and (max-height: 580px) and (max-width: 1000px) {
  .motion {
    height: 580px;
  }
}

@media only screen and (min-height: 920px) and (max-width: 900px) {
  .motion {
    height: 920px;
  }
}

@media only screen and (max-height: 920px) and (max-width: 900px) {
  .motion {
    height: 100vh;
  }
}

@media only screen and (max-height: 850px) and (max-width: 900px) {
  .motion__inner {
    // background-size: 900px auto;
    // background-position: center -60px;
    // border-radius: unset;
  }

  .motion__image {
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .motion__inner__top {
    top: 252px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .motion__wrapper {
    top: unset;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media only screen and (max-height: 780px) and (max-width: 780px) {
  .motion__inner {
    // background-size: 780px auto;
    // background-position: center -50px;
  }
}

@media only screen and (max-height: 750px) and (max-width: 900px) {
  .motion {
    height: 750px;
  }
}

@media only screen and (max-height: 850px) and (max-width: 680px) {
  .motion__inner {
    // background-size: 680px auto;
    // background-position: center -40px;
  }
}

@media only screen and (min-height: 920px) and (max-width: 550px) {
  .motion {
    height: 920px;
  }
}

@media only screen and (max-height: 920px) and (max-width: 550px) {
  .motion {
    height: 100vh;
  }
}

@media only screen and (max-height: 850px) and (max-width: 550px) {
  .motion__inner {
    // background-size: 550px auto;
    // background-position: center -20px;
  }

  .motion__image {
    top: 0px;
    left: 50%;
  }

  .motion__inner__top {
    top: 245px;
    left: 50%;
  }

  .motion__wrapper {
    bottom: 80px;
  }
}

@media only screen and (max-height: 800px) and (max-width: 550px) {
  .motion__inner {
    // background-size: 550px auto;
    // background-position: center -20px;
  }

  .motion__image {
    top: 0;
    left: 50%;
  }

  .motion__inner__top {
    top: 247px;
    left: 50%;
  }

  .motion__wrapper {
    bottom: 25px;
  }
}

@media only screen and (max-height: 740px) and (max-width: 550px) {
  .motion__inner {
    // background-size: 550px auto;
    // background-position: center -50px;
  }

  .motion__image {
    top: -30px;
    left: 50%;
  }

  .motion__inner__top {
    top: 217px;
    left: 50%;
  }

  .motion__wrapper {
    bottom: 25px;
  }
}

@media only screen and (max-height: 700px) and (max-width: 550px) {
  .motion {
    height: 700px;
  }
}

@media only screen and (max-height: 850px) and (max-width: 477px) {
  .motion__inner {
    // background-size: 477px auto;
    // background-position: center 0;
  }
}

@media only screen and (min-height: 920px) and (max-width: 460px) {
  .motion__inner {
    // background-position: center 0;
    // background-size: auto 100%;
  }
}

@media only screen and (max-height: 920px) and (max-width: 460px) {
  .motion__inner {
    // background-position: center 0;
    // background-size: auto 100vh;
  }

  .motion__image {
    top: 30px;
    width: 372px;
  }
}

@media only screen and (max-height: 850px) and (max-width: 460px) {
  .motion__inner__top {
    top: 220px;
  }
}

@media only screen and (max-height: 825px) and (max-width: 460px) {
  .motion__inner {
    // background-size: 500px auto;
    // background-position: center -20px;
  }

  .motion__image {
    top: 15px;
    width: 372px;
  }

  .motion__inner__top {
    top: 205px;
  }
}

@media only screen and (max-height: 800px) and (max-width: 460px) {
  .motion__wrapper {
    bottom: 80px;
  }
}

@media only screen and (max-height: 720px) and (max-width: 460px) {
  .motion__wrapper {
    bottom: 60px;
  }
}

@media only screen and (min-height: 920px) and (max-width: 450px) {
  .motion {
    height: 920px;
  }
}

@media only screen and (max-height: 920px) and (max-width: 450px) {
  .motion {
    height: 100vh;
  }
}

@media only screen and (max-height: 780px) and (max-width: 450px) {
  .motion__inner {
    // background-size: 450px auto;
    // background-position: center 0;
  }
}

@media only screen and (max-height: 690px) and (max-width: 450px) {
  .motion__inner {
    // background-position: center -40px;
  }

  .motion__image {
    top: -20px;
  }

  .motion__inner__top {
    top: 170px;
  }

  .motion__wrapper {
    bottom: 40px;
  }
}

@media only screen and (max-height: 650px) and (max-width: 450px) {
  .motion {
    height: 650px;
  }
}

@media only screen and (max-height: 650px) and (max-width: 410px) {
  .motion {
    height: 100vh;
  }
}

@media only screen and (max-height: 610px) and (max-width: 410px) {
  .motion__inner {
    // background-position: center -40px;
  }

  .motion__image {
    top: -30px;
  }

  .motion__inner__top {
    top: 160px;
  }

  .motion__wrapper {
    bottom: 20px;
  }
}

@media only screen and (max-height: 580px) and (max-width: 410px) {
  .motion {
    height: 580px;
  }
}

@media only screen and (max-height: 920px) and (max-width: 360px) {
  .motion__image {
    top: 55px;
  }
}

@media only screen and (max-height: 825px) and (max-width: 360px) {
  .motion__image {
    top: 40px;
  }
}

@media only screen and (max-height: 690px) and (max-width: 360px) {
  .motion__image {
    top: 5px;
  }
}

@media only screen and (max-height: 640px) and (max-width: 360px) {
  .motion__inner {
    // background-position: center 0;
    // background-size: 360px auto;
  }
}

@media only screen and (max-height: 610px) and (max-width: 360px) {
  .motion__image {
    top: -5px;
  }
}

@media only screen and (max-height: 580px) and (max-width: 360px) {
  .motion__image {
    top: -25px;
  }

  .motion__inner__top {
    top: 140px;
  }
}

@media only screen and (min-height: 760px) and (max-width: 350px) {
  .motion {
    height: 760px;
  }

  .motion__inner {
    // background-position: center 0;
    // background-size: 430px auto;
  }
}

@media only screen and (max-height: 580px) and (max-width: 350px) {
  .motion {
    height: 100vh;
  }
}

@media only screen and (max-height: 550px) and (max-width: 350px) {
  .motion {
    height: 550px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .motion__inner {
    background-image: url("../../Assets/Images/Motion/BackgroundDesktop@2x.webp");
  }

  .motion__info {
    &::after {
      background-image: url("../../Assets/Images/Motion/Play@2x.webp");
    }
  }

  .motion__info__image {
    &::before {
      background-image: url("../../Assets/Images/Motion/Clapper@2x.webp");
    }

    &::after {
      background-image: url("../../Assets/Images/Motion/Clapper@2x.webp");
    }
  }

  @media only screen and (max-width: 900px) {
    .motion__inner {
      background-image: url("../../Assets/Images/Motion/BackgroundMobile@2x.webp");
    }
  }
}
