@import "../../Scss/Variables.scss";

.contact {
  position: relative;
  padding-bottom: 135px;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 340px);
    left: calc(50% - 1005px);
    z-index: -2;
    transform: translate(-50%, -50%) rotate(-36.46deg);
    width: 1662px;
    height: 1585px;
    background-image: url("../../Assets/Images/Design/Vector.svg");
    background-size: 1662px 1585px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.contact__box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 28px 132px 40px 75px;
  background-color: $white;
  border-radius: 94px;

  &::before {
    content: "";
    position: absolute;
    top: -60px;
    left: -50px;
    z-index: 9;
    width: 265px;
    height: 270px;
    background-image: url("../../Assets/Images/Contact/Ping.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.contact__left {
  margin-right: 30px;
}

.contact__heading {
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  font-family: "MontserratAlternates";
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 68px;
  background: linear-gradient(89.82deg, #0095d0 1.74%, #006996 104.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contact__map {
  border-radius: 51px;
  border: none;
  filter: drop-shadow(-34px 53px 68px rgba($color: $black, $alpha: 0.13));
}

.contact__form {
  max-width: 676px;
  width: 100%;
}

.contact__inputs__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin: 0 auto;
}

.contact__input {
  width: 100%;
  font-size: 24px;
  line-height: 29px;
  padding: 12px 30px;
  background-color: #f9f9f9;
  border: 1px solid #e4e4e4;
  border-radius: 48px;
  outline: none;
  transition: border-color 0.25s ease, color 0.25s ease;

  &:focus {
    border-color: $darkBlue;
  }

  &::placeholder {
    color: #c0c0c0;
  }

  &:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 3;
    resize: none;
    height: 203px;
  }
}

.contact__btn {
  display: block;
  margin-top: 17px;
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: $white;
  padding: 13px 50px;
  background: linear-gradient(93.67deg, #30ce88 -3.53%, #1ea569 101.01%);
  border-radius: 48px;
  border: none;
}

@media only screen and (max-width: 1550px) {
  .contact__box {
    padding: 25px 50px;
  }
}

@media only screen and (max-width: 1440px) {
  .contact__map {
    width: 600px;
  }
}

@media only screen and (max-width: 1340px) {
  .contact__map {
    width: 550px;
  }
}

@media only screen and (max-width: 1280px) {
  .contact__map {
    width: 500px;
  }
}

@media only screen and (max-width: 1220px) {
  .contact__box {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .contact__left {
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .contact {
    padding-bottom: 0;
  }

  .container {
    padding: 0;
  }

  .contact__box {
    border-radius: unset;
    padding: 20px;
    padding-top: 54px;
    padding-bottom: 40px;
  }

  .contact__left {
    width: 100%;

    .contact__heading {
      margin-bottom: 54px;
    }
  }

  .contact__map {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    padding: 0;
  }

  .contact__box {
    gap: 44px;
    padding-left: 0;
    padding-right: 0;

    &::before {
      top: -150px;
      left: -50px;
    }
  }

  .contact__map {
    height: 695px;
    border-radius: unset;
    filter: unset;
  }

  .contact__right {
    padding: 0 30px;

    .contact__heading {
      margin-bottom: 30px;
      font-size: 40px;
      line-height: 49px;
    }
  }

  .contact__inputs__box {
    grid-template-columns: unset;
    gap: 20px;
  }

  .contact__input {
    &:nth-child(5) {
      grid-column-start: unset;
      grid-column-end: unset;
    }

    &:nth-child(6) {
      padding: 25px 30px;
      grid-column-start: unset;
      grid-column-end: unset;
      border-radius: 26px;
    }
  }

  .contact__btn {
    width: 100%;
    margin-top: 33px;
  }
}

@media only screen and (max-width: 610px) {
  .container {
    padding: 0;
  }

  .contact__left {
    width: 100%;
  }

  .contact__map {
    width: 100%;
    border-radius: unset;
  }

  .contact__right {
    padding: 0 30px;
  }

  .contact__inputs__box {
    grid-template-columns: unset;
  }

  .contact__input {
    &:nth-child(5) {
      grid-column-start: unset;
      grid-column-end: unset;
    }

    &:nth-child(6) {
      padding: 25px 30px;
      grid-column-start: unset;
      grid-column-end: unset;
      border-radius: 26px;
    }
  }
}
