@import "../../Scss/Variables.scss";

.achievements {
  position: relative;
  padding-top: 133px;
  padding-bottom: 104px;
}

.achievements__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: 0 auto;
  padding: 68px 100px;
  padding-bottom: 46px;
  background: $white;
  backdrop-filter: blur(86px);
  border-radius: 61px;
  list-style-type: none;
  overflow: hidden;
}

.achievement {
  position: relative;
  color: rgba($color: $textBlue, $alpha: 0.98);
  background-size: 0 0;

  &:nth-child(1) {
    .achievement__image {
      &::after {
        top: calc(50% - 40px);
        width: 93px;
        height: 93px;
        background-image: inherit;
      }

      &::before {
        top: calc(50% - 25px);
        width: 93px;
        height: 93px;
        background-image: inherit;
      }
    }
  }

  &:nth-child(2) {
    .achievement__image {
      &::after {
        top: calc(50% - 50px);
        left: calc(50% - 117px);
        width: 128px;
        height: 128px;
        background-image: inherit;
      }

      &::before {
        top: calc(50% - 35px);
        left: calc(50% - 127px);
        width: 128px;
        height: 128px;
        background-image: inherit;
      }
    }
  }

  &:nth-child(3) {
    .achievement__text {
      width: 143px;
    }

    .achievement__image {
      &::after {
        width: 93px;
        height: 93px;
        background-image: inherit;
      }

      &::before {
        width: 93px;
        height: 93px;
        background-image: inherit;
      }
    }
  }

  &:nth-child(4) {
    .achievement__text {
      width: 260px;
      text-align: center;
    }

    .achievement__image {
      &::after {
        left: calc(50% - 140px);
        width: 114px;
        height: 114px;
        background-image: inherit;
      }

      &::before {
        left: calc(50% - 150px);
        width: 114px;
        height: 114px;
        background-image: inherit;
      }
    }
  }
}

.achievement__image {
  background-image: inherit;
  background-size: 0 0;
}

.achievement__inner {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 30px;
}

.achievement__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.achievement__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #043649;
  background-color: $accent;
  border-radius: 50%;

  &[aria-label="procent"] {
    span:nth-child(2) {
      margin-top: 12px;
      font-size: 24px;
      line-height: 24px;
      font-weight: 900;
    }
  }
}

.achievement__text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: $black;
  text-align: center;
}

.achievement__image {
  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 135px);
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 145px);
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    filter: blur(19px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

@media only screen and (max-width: 1600px) {
  .achievements__list {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media only screen and (max-width: 1420px) {
  .achievements__list {
    max-width: 600px;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}

@media only screen and (max-width: 900px) {
  .achievements__circle {
    position: absolute;
    left: calc(50% + 410px);
    top: -460px;
    z-index: -1;
    transform: translate(-50%, 0);
    opacity: 0.8;
    filter: blur(25px);
  }
}

@media only screen and (max-width: 550px) {
  .achievements {
    padding-top: 108px;
    padding-bottom: 95px;
  }

  .achievements__list {
    max-width: 354px;
    gap: 160px;
    padding: 10px;
    padding-top: 155px;
    padding-bottom: 66px;
  }

  .achievement {
    position: relative;
    color: rgba($color: $textBlue, $alpha: 0.98);

    &:nth-child(1) {
      .achievement__image {
        &::after {
          top: calc(-30px);
        }

        &::before {
          top: calc(-18px);
          left: calc(50% - 10px);
        }
      }
    }

    &:nth-child(2) {
      .achievement__image {
        &::after {
          top: calc(-7px);
          left: calc(50% + 20px);
        }

        &::before {
          top: calc(7px);
          left: calc(50% + 6px);
        }
      }
    }

    &:nth-child(3) {
      .achievement__image {
        &::after {
          top: calc(-26px);
          left: calc(50%);
        }

        &::before {
          top: calc(-11px);
          left: calc(50% - 11px);
        }
      }
    }

    &:nth-child(4) {
      .achievement__image {
        &::after {
          top: calc(-14px);
          left: calc(50%);
        }

        &::before {
          top: calc(8px);
          left: calc(50% - 10px);
        }
      }
    }
  }

  .achievement__image {
    &::after {
      top: calc(50%);
      left: calc(50%);
      transform: translate(-50%, -100%);
    }

    &::before {
      top: calc(50%);
      left: calc(50%);
      transform: translate(-50%, -100%);
    }
  }
}
