@import "../../Scss/Variables.scss";

.footer {
  padding-top: 60px;
  padding-bottom: 70px;
  color: $white;
  background: linear-gradient(93.73deg, #043649 0%, #205374 100%);
}

.container {
  display: flex;
}

.footer__logo__block {
  margin-right: auto;
  padding-top: 20px;
}

.footer__link {
  display: block;
  margin-bottom: 24px;
  cursor: pointer;
}

.footer__nav {
  margin-right: 135px;

  .footer__heading {
    text-transform: uppercase;
  }
}

.footer__nav__link {
  cursor: pointer;
}

.footer__about {
  max-width: 353px;
  width: 100%;
  margin-right: 70px;
}

.footer__heading {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}

.footer__text {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.footer__contact__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;

  svg {
    margin-right: 10px;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__item {
  & + & {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 1500px) {
  .container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__logo__block {
    margin-right: unset;
  }

  .footer__nav {
    margin-right: unset;
  }

  .footer__about {
    margin-right: unset;
  }
}

@media only screen and (max-width: 1500px) {
  .footer {
    padding: 90px 0;
  }

  .container {
    justify-content: space-around;
  }

  .footer__logo__block {
    width: 100%;
    margin-right: unset;
    margin-bottom: 45px;
    padding: 0;

    svg {
      margin: 0 auto;
    }
  }

  .footer__socials {
    ul {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .container {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__nav {
    margin-bottom: 45px;
  }

  .footer__about {
    margin-bottom: 45px;
  }
}

@media only screen and (max-width: 1000px) {
  .footer__logo__block {
    margin-bottom: 90px;
  }
}

@media only screen and (max-width: 350px) {
  .footer__logo__block {
    svg {
      width: 100%;
      height: auto;
    }
  }
}
