$accent: #ffbe00;
$black: #000000;
$white: #ffffff;
$gray: #727272;
$bgWhite: #f0f1f3;
$darkBlue: #205374;
$textBlue: #003246;
$green: #27a09e;
$lightGreen: #30ce88;
$lightYellow: #ffe664;
$darkYellow: #ffb800;
$yellowGradient: radial-gradient(100% 868.85% at 95.39% 100%, #ffe664 0%, #ffb800 100%);
$greenGradient: linear-gradient(132.31deg, #30ce88 11.94%, #d3f5ce 87.1%);
$blueGradient: linear-gradient(90deg, #0095d0 0%, #006996 100%);
$red: #da3e52;
$darkRed: #bc2438;
$redGradient: linear-gradient(132.31deg, $red 11.94%, $darkRed 87.1%);
