$accent: #ffbe00;
$black: #000000;
$white: #ffffff;
$bgWhite: #f0f1f3;
$darkBlue: #205374;
$textBlue: #003246;
$green: #27a09e;
$lightGreen: #30ce88;
$lightYellow: #ffe664;
$darkYellow: #ffb800;
$yellowGradient: radial-gradient(100% 868.85% at 95.39% 100%, #ffe664 0%, #ffb800 100%);
$greenGradient: linear-gradient(132.31deg, #30ce88 11.94%, #d3f5ce 87.1%);
