@import "../../Scss/Variables.scss";

.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  & + & {
    margin-left: 120px;
  }

  &:hover {
    .nav__link {
      &::after {
        width: 44px;
      }
    }
  }
}

.nav__link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    margin-top: 2px;
    background-color: $accent;
    border-radius: 2px;
    transition: width 0.25s ease;
  }

  &--active {
    &::after {
      width: 44px;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .nav__item {
    & + & {
      margin-left: 80px;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .nav__item {
    & + & {
      margin-left: 40px;
    }
  }
}

@media only screen and (max-width: 1140px) {
  .nav {
    display: none;
  }
}
