@import "../../Scss/Variables.scss";

.benefits {
  position: relative;
  padding-top: 265px;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 170px);
    left: calc(50% - 360px);
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 1021px;
    height: 251px;
    background-image: url("../../Assets/Images/Logo/Logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% + 250px);
    left: calc(50% - 790px);
    z-index: -2;
    transform: translate(-50%, -50%) rotate(107.66deg);
    width: 1473px;
    height: 1404px;
    background-image: url("../../Assets/Images/Design/Vector.svg");
    background-size: 1473px 1404px;
    pointer-events: none;
  }
}

.container {
  overflow-x: visible;
}

.benefits__heading__top {
  position: relative;
  margin: 0;
  margin-bottom: 92px;
}

.benefits__heading__text {
  margin: 0;
  font-family: "MontserratAlternates";
  font-weight: 900;
  font-size: 56px;
  line-height: 68px;
  text-align: center;
  background: linear-gradient(90deg, #0095d0 0%, #006996 98.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.benefits__heading__subtext {
  position: absolute;
  top: 40px;
  right: 50%;
  transform: translate(50%);
  z-index: -1;
  font-family: "MontserratAlternates";
  font-weight: 900;
  font-size: 143px;
  line-height: 174px;
  text-align: center;
  white-space: nowrap;
  color: $white;
  filter: drop-shadow(-15px 15px 21px rgba(0, 0, 0, 0.05));
}

.benefits__item {
  box-sizing: border-box;
  position: relative;
  width: 304px;
  min-height: 318px;
  padding: 28px 16px;
  background-color: rgba($color: $white, $alpha: 0.7);
  backdrop-filter: blur(50px);
  border-radius: 47px;

  &::after {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &:nth-child(1) {
    &::after {
      top: -18px;
      right: -4px;
      width: 130px;
      height: 130px;
      background-image: url(../../Assets/Images/Benefits/hit2x.png);
    }
  }

  &:nth-child(2) {
    &::after {
      top: -2px;
      right: 6px;
      background-image: url(../../Assets/Images/Benefits/technologist2x.png);
    }
  }

  &:nth-child(3) {
    .benefit__text {
      max-width: 222px;
    }

    &::after {
      top: 0;
      right: 6px;
      background-image: url(../../Assets/Images/Benefits/stars2x.png);
    }
  }

  &:nth-child(4) {
    .benefit__text {
      max-width: 230px;
    }

    &::after {
      top: -2px;
      right: 8px;
      background-image: url(../../Assets/Images/Benefits/emoji2x.png);
    }
  }

  &:nth-child(5) {
    .benefit__text {
      max-width: 210px;
    }

    &::after {
      top: -2px;
      right: 8px;
      background-image: url(../../Assets/Images/Benefits/money2x.png);
    }
  }
}

.benefit__top {
  position: relative;
  margin-bottom: 42px;
}

.benefit__ordernumber {
  display: inline-block;
  padding: 8px 36px;
  font-weight: 800;
  font-size: 41px;
  line-height: 50px;
  color: #ff7200;
  background: radial-gradient(91.92% 196.12% at 3.46% 14.04%, #fff0a0 0%, #ffb800 100%);
  border-radius: 17px;
}

.benefit__text {
  max-width: 249px;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #727272;
}
