@import "../../Scss/Variables.scss";

.benefits {
  position: relative;
  padding-top: 265px;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 170px);
    left: calc(50% - 360px);
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 1021px;
    height: 251px;
    background-image: url("../../Assets/Images/Logo/Logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% + 250px);
    left: calc(50% - 790px);
    z-index: -2;
    transform: translate(-50%, -50%) rotate(107.66deg);
    width: 1473px;
    height: 1404px;
    background-image: url("../../Assets/Images/Design/Vector.svg");
    background-size: 1473px 1404px;
    pointer-events: none;
  }
}

.container {
  overflow-x: visible;
}

.benefits__heading__top {
  position: relative;
  margin: 0;
  margin-bottom: 92px;
}

.benefits__heading__text {
  margin: 0;
  font-family: "MontserratAlternates";
  font-weight: 900;
  font-size: 56px;
  line-height: 68px;
  text-align: center;
  background: $blueGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.benefits__heading__subtext {
  position: absolute;
  top: 40px;
  right: 50%;
  transform: translate(50%);
  z-index: -1;
  font-family: "MontserratAlternates";
  font-weight: 900;
  font-size: 143px;
  line-height: 174px;
  text-align: center;
  white-space: nowrap;
  color: $white;
  filter: drop-shadow(-15px 15px 21px rgba(0, 0, 0, 0.05));
}

.benefits__item {
  box-sizing: border-box;
  position: relative;
  width: 304px;
  min-height: 318px;
  padding: 28px 16px;
  background-color: rgba($color: $white, $alpha: 0.7);
  backdrop-filter: blur(50px);
  border-radius: 47px;
  background-size: 0 0;

  &::after {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: inherit;
  }

  &:nth-child(1) {
    &::after {
      top: -18px;
      right: -4px;
      width: 130px;
      height: 130px;
    }
  }

  &:nth-child(2) {
    &::after {
      top: -2px;
      right: 6px;
    }
  }

  &:nth-child(3) {
    .benefit__text {
      max-width: 222px;
    }

    &::after {
      top: 0;
      right: 6px;
    }
  }

  &:nth-child(4) {
    .benefit__text {
      max-width: 230px;
    }

    &::after {
      top: -2px;
      right: 8px;
    }
  }

  &:nth-child(5) {
    .benefit__text {
      max-width: 210px;
    }

    &::after {
      top: -2px;
      right: 8px;
    }
  }
}

.benefit__top {
  position: relative;
  margin-bottom: 42px;
}

.benefit__ordernumber {
  display: inline-block;
  padding: 8px 36px;
  font-weight: 800;
  font-size: 41px;
  line-height: 50px;
  color: #ff7200;
  background: radial-gradient(91.92% 196.12% at 3.46% 14.04%, #fff0a0 0%, #ffb800 100%);
  border-radius: 17px;
}

.benefit__text {
  max-width: 249px;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #727272;
}

@media only screen and (max-width: 1850px) {
  .benefits__heading__subtext {
    top: 50px;
    font-size: 130px;
    line-height: 150px;
  }
}

@media only screen and (max-width: 1750px) {
  .benefits {
    &::after {
      left: 20px;
      transform: translate(0, -50%);
    }
  }

  .benefits__heading__subtext {
    font-size: 130px;
    line-height: 150px;
  }
}

@media only screen and (max-width: 1700px) {
  .benefits__heading__subtext {
    font-size: 125px;
    line-height: 145px;
  }
}

@media only screen and (max-width: 1650px) {
  .benefits__heading__subtext {
    top: 55px;
    font-size: 115px;
    line-height: 135px;
  }
}

@media only screen and (max-width: 1500px) {
  .benefits__heading__subtext {
    font-size: 100px;
    line-height: 120px;
  }
}

@media only screen and (max-width: 1310px) {
  .benefits__heading__top {
    margin-bottom: 70px;
  }

  .benefits__heading__subtext {
    top: 60px;
    font-size: 80px;
    line-height: 100px;
  }
}

@media only screen and (max-width: 1050px) {
  .benefits {
    &::after {
      top: calc(50% - 170px);
      left: calc(50%);
      transform: translate(-50%, -50%);
      width: calc(100% - 34px);
    }
  }

  .benefits__heading__subtext {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .benefits {
    padding-top: 160px;

    &::after {
      top: calc(20px);
      left: calc(50%);
      transform: translate(-50%, 0);
      width: calc(100% - 34px);
      height: 170px;
    }

    &::before {
      top: calc(50% + 595px);
      left: calc(50% + 170px);
      transform: translate(-50%, -50%) rotate(-109.56deg);
      width: 1322px;
      height: 1260px;
      background-image: url("../../Assets/Images/Design/VectorMobile.svg");
      background-size: 1322px 1260px;
    }
  }

  .benefits__heading__top {
    margin-bottom: 30px;
  }

  .benefits__heading__text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    span:nth-child(1) {
      margin-right: 3px;
      font-weight: 900;
      font-size: 203px;
      line-height: 247px;
    }

    span:nth-child(2) {
      max-width: 250px;
      width: 100%;
      font-weight: 900;
      font-size: 45px;
      line-height: 55px;
      text-align: left;
    }
  }

  .benefits__heading__subtext {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .benefits {
    &::after {
      height: 130px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .benefits {
    &::after {
      height: 115px;
    }
  }
}

@media only screen and (max-width: 477px) {
  .benefits {
    &::after {
      height: 112px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .benefits {
    &::after {
      height: 100px;
    }
  }

  .benefits__heading__text {
    span:nth-child(1) {
      font-size: 180px;
      line-height: 220px;
    }

    span:nth-child(2) {
      max-width: 225px;
      font-size: 40px;
      line-height: 48px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .benefits {
    &::after {
      height: 90px;
    }
  }

  .benefits__heading__text {
    span:nth-child(1) {
      font-size: 150px;
      line-height: 170px;
    }

    span:nth-child(2) {
      max-width: 215px;
      font-size: 38px;
      line-height: 40px;
    }
  }
}

@media only screen and (max-width: 350px) {
  .benefits {
    &::after {
      height: 80px;
    }
  }

  .benefits__heading__text {
    span:nth-child(1) {
      font-size: 140px;
      line-height: 160px;
    }

    span:nth-child(2) {
      max-width: 190px;
      font-size: 34px;
      line-height: 36px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .benefits {
    &::after {
      height: 72px;
    }
  }
}
