@import "../../Scss/Variables.scss";

.graphic {
  height: 100vh;
  padding: 20px 0;
}

.container {
  position: relative;
  height: 100%;
}

.graphic__circle {
  position: absolute;
  top: 505px;
  left: calc(50% + 317px);
  filter: blur(25px);
}

.graphic__inner {
  position: relative;
  height: 100%;
  background-image: url("../../Assets/Images/Graphic/BackgroundDesktop.jpg");
  background-size: 1920px 1080px;
  background-position: calc(50% + 45px) calc(50% + 13px);
  border-radius: 81px;
  overflow: hidden;
}

.graphic__image {
  position: absolute;
  top: calc(50% + 12px);
  left: calc(50% + 45px);
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 1920px;
  height: 1080px;
  pointer-events: none;
  object-fit: contain;
}

.graphic__heading {
  position: absolute;
  top: calc(50% - 247px);
  left: calc(50% + -47px);
  transform: translate(-50%, -50%);
  margin: 0;
  font-weight: 800;
  font-size: 150px;
  line-height: 183px;
  text-transform: uppercase;
  color: $white;
}

.graphic__heading__design {
  position: absolute;
  top: calc(50% - 146px);
  left: calc(50% + 28px);
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 434px;
  height: 232px;
  background-image: url("../../Assets/Images/Design/Design.png");
  background-size: contain;
  pointer-events: none;
}

.graphic__heading__palette {
  pointer-events: none;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% + 18px);
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 160px;
    height: 150px;
    background-image: url("../../Assets/Images/Graphic/Palette.png");
    background-size: contain;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 8px);
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 160px;
    height: 150px;
    background-image: url("../../Assets/Images/Graphic/Palette.png");
    background-size: contain;
    mix-blend-mode: multiply;
    filter: blur(21px);
  }
}

.graphic__wrapper {
  position: absolute;
  top: calc(50% - 93px);
  left: calc(50% + 161px);
  max-width: 308px;
  width: 100%;
}

.graphic__info {
  z-index: 99;
  max-width: 308px;
  width: 100%;
  padding-top: 92px;
  padding-bottom: 30px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(60.77deg, #ffbe00 6.67%, #fff0a0 91.13%);
  border-radius: 60px;

  &::after {
    content: "";
    position: absolute;
    bottom: -32px;
    right: -98px;
    width: 145px;
    height: 230px;
    background-image: url("../../Assets/Images/Graphic/Pen.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(-14px 17px 15px rgba($color: $black, $alpha: 0.6));
  }
}

.graphic__info__image {
  &::before {
    content: "";
    position: absolute;
    top: -190px;
    right: -67px;
    z-index: 9;
    width: 273px;
    height: 281px;
    background-image: url("../../Assets/Images/Graphic/ColorList.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(40px);
    mix-blend-mode: multiply;
  }

  &::after {
    content: "";
    position: absolute;
    top: -218px;
    right: -165px;
    z-index: 9;
    width: 339px;
    height: 315px;
    background-image: url("../../Assets/Images/Graphic/ColorList.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.graphic__info__heading {
  position: absolute;
  top: -26px;
  left: -12px;
  padding: 27px 45px;
  margin: 0;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  color: $textBlue;
  background: radial-gradient(85.48% 131.72% at 9.41% 9.14%, #7de393 0%, #27a09e 100%);
  border-radius: 25px;
}

.graphic__info__subheading {
  margin: 0;
  font-weight: 700;
}

.graphic__info__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.graphic__info__item {
  font-weight: 500;
}

@media only screen and (max-width: 1350px) {
  .graphic__inner {
    background-size: 1920px 1080px;
    background-position: calc(50% + 45px) calc(50% + 13px);
  }

  .graphic__image {
    top: calc(50% + 12px);
    left: calc(50% + 45px);
    width: 1440px;
    height: 810px;
  }

  .graphic__heading {
    top: calc(50% - 200px);
    left: calc(50% - 10px);
    font-size: 120px;
    line-height: 140px;
  }

  .graphic__heading__design {
    top: calc(50% - 115px);
    left: calc(50% + 30px);
    width: 340px;
    height: 180px;
  }

  .graphic__heading__palette {
    &::after {
      top: calc(50% - 30px);
      left: calc(50% + 18px);
      width: 120px;
      height: 115px;
    }

    &::before {
      top: calc(50% - 15px);
      left: calc(50% - 8px);
      width: 120px;
      height: 115px;
    }
  }

  .graphic__wrapper {
    top: calc(50% - 80px);
    left: calc(50% + 120px);
    z-index: 9;
    max-width: 320px;
  }

  .graphic__info {
    max-width: 357px;
    width: 100%;
    padding-top: 74px;
    padding-bottom: 34px;
    padding-left: 34px;

    &::after {
      bottom: -8px;
      right: -28px;
      width: 110px;
      height: 173px;
      filter: drop-shadow(-11px -3px 15px rgba($color: $black, $alpha: 0.6));
    }
  }

  .graphic__info__heading {
    padding: 21px 36px;
    font-size: 32px;
    line-height: 40px;
  }

  .graphic__info__image {
    &::before {
      top: -80px;
      right: 6px;
      width: 152px;
      height: 155px;
      filter: brightness(20%) blur(44px);
    }

    &::after {
      top: -91px;
      right: -48px;
      width: 182px;
      height: 174px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .graphic__inner {
    background-size: 1920px 1080px;
    background-position: calc(50% + 45px) calc(50% + 13px);
  }

  .graphic__image {
    width: 1280px;
    height: 720px;
  }

  .graphic__heading {
    top: calc(50% - 165px);
    left: calc(50% - 15px);
    font-size: 100px;
    line-height: 120px;
  }

  .graphic__heading__design {
    top: calc(50% - 100px);
    left: calc(50% + 10px);
    width: 250px;
    height: 135px;
  }

  .graphic__heading__palette {
    &::after {
      top: calc(50% - 35px);
      left: calc(50% + 18px);
      width: 100px;
      height: 95px;
    }

    &::before {
      top: calc(50% - 20px);
      left: calc(50% + 10px);
      width: 100px;
      height: 95px;
    }
  }

  .graphic__wrapper {
    top: calc(50% - 70px);
    left: calc(50% + 82px);
    max-width: 290px;
  }

  .graphic__info {
    max-width: 357px;
    width: 100%;
    padding-top: 74px;
    padding-bottom: 34px;
    padding-left: 34px;

    &::after {
      bottom: -8px;
      right: -28px;
      width: 110px;
      height: 173px;
      filter: drop-shadow(-11px -3px 15px rgba($color: $black, $alpha: 0.6));
    }
  }

  .graphic__info__heading {
    padding: 21px 36px;
    font-size: 32px;
    line-height: 40px;
  }

  .graphic__info__image {
    &::before {
      top: -80px;
      right: 6px;
      width: 152px;
      height: 155px;
      filter: brightness(20%) blur(44px);
    }

    &::after {
      top: -91px;
      right: -48px;
      width: 182px;
      height: 174px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .graphic {
    padding: 0;
  }

  .container {
    padding: 0;
  }

  .graphic__inner {
    background-image: url("../../Assets/Images/Graphic/BackgroundMobile.jpg");
    background-size: 900px auto;
    background-position: 50% calc(50% + 80px);
    border-radius: unset;
  }

  .graphic__image {
    top: calc(50% + 20px);
    left: 50%;
    width: 540px;
    height: auto;
  }

  .graphic__heading {
    font-size: 70px;
    line-height: 90px;
    top: calc(50% - 335px);
    left: calc(50% + 70px);
  }

  .graphic__heading__design {
    top: calc(50% - 282px);
    left: calc(50% + 105px);
    width: 175px;
    height: 95px;
  }

  .graphic__heading__palette {
    &::after {
      top: calc(50% - 214px);
      left: calc(50% + 118px);
      width: 74px;
      height: 69px;
    }

    &::before {
      top: calc(50% - 205px);
      left: calc(50% + 104px);
      width: 74px;
      height: 69px;
    }
  }

  .graphic__wrapper {
    top: calc(50% + 98px);
    left: calc(50% - 186px);
    max-width: 357px;
  }
}

@media only screen and (max-width: 550px) {
  .graphic__inner {
    background-size: cover;
    background-position: center;
  }

  .graphic__image {
    top: 50%;
    width: 477px;
    height: auto;
  }

  .graphic__heading {
    font-size: 64px;
    line-height: 78px;
    top: calc(50% - 325px);
    left: calc(50% + 57px);
  }
}

@media only screen and (max-width: 450px) {
  .graphic__image {
    width: 400px;
  }

  .graphic__heading {
    font-size: 50px;
    line-height: 60px;
    top: calc(50% - 265px);
    left: calc(50% + 45px);
  }

  .graphic__heading__design {
    top: calc(50% - 230px);
    left: calc(50% + 90px);
    width: 140px;
    height: 75px;
  }

  .graphic__heading__palette {
    &::after {
      top: calc(50% - 185px);
      left: calc(50% + 90px);
      width: 60px;
      height: 57px;
    }

    &::before {
      top: calc(50% - 175px);
      left: calc(50% + 85px);
      width: 60px;
      height: 57px;
    }
  }

  .graphic__wrapper {
    top: calc(50% + 45px);
    left: calc(50% - 180px);
    max-width: 330px;
  }
}

@media only screen and (max-width: 410px) {
  .graphic__image {
    top: calc(50% + 45px);
  }

  .graphic__heading {
    top: calc(50% - 265px + 45px);
  }

  .graphic__heading__design {
    top: calc(50% - 230px + 45px);
  }

  .graphic__heading__palette {
    &::after {
      top: calc(50% - 185px + 45px);
    }

    &::before {
      top: calc(50% - 175px + 45px);
    }
  }

  .graphic__wrapper {
    left: calc(50% - 150px);
    max-width: 300px;
  }

  .graphic__info {
    max-width: 300px;
    padding-top: 60px;
    padding-left: 24px;
    font-size: 13px;
    line-height: 16px;
    border-radius: 40px;

    &::after {
      bottom: -8px;
      right: -8px;
      width: 85px;
      height: 135px;
    }
  }

  .graphic__info__heading {
    top: -25px;
    left: -5px;
    padding: 20px 35px;
    font-size: 30px;
    line-height: 36px;
    border-radius: 16px;
  }

  .graphic__info__image {
    &::before {
      top: -40px;
      right: 20px;
      width: 110px;
      height: 105px;
    }

    &::after {
      top: -60px;
      right: -10px;
      width: 130px;
      height: 125px;
    }
  }
}

@media only screen and (max-width: 350px) {
  .graphic__image {
    top: 50%;
    width: 350px;
  }

  .graphic__heading {
    font-size: 45px;
    line-height: 55px;
    top: calc(50% - 230px);
  }

  .graphic__heading__design {
    top: calc(50% - 200px);
    left: calc(50% + 80px);
    width: 120px;
    height: 65px;
  }

  .graphic__heading__palette {
    &::after {
      top: calc(50% - 155px);
      left: calc(50% + 85px);
    }

    &::before {
      top: calc(50% - 150px);
      left: calc(50% + 80px);
    }
  }
}

@media only screen and (min-height: 1080px) and (min-width: 1640px) {
  .graphic {
    height: 1080px;
  }
}

@media only screen and (max-height: 850px) and (min-width: 1640px) {
  .graphic {
    height: 850px;
  }
}

@media only screen and (min-height: 1080px) and (max-width: 1640px) {
  .graphic {
    height: 1080px;
  }
}

@media only screen and (max-height: 850px) and (min-width: 1250px) {
  .graphic {
    height: 850px;
  }
}

@media only screen and (min-height: 850px) and (max-width: 1250px) {
  .graphic {
    height: 850px;
  }
}

@media only screen and (max-height: 650px) and (max-width: 1250px) {
  .graphic {
    height: 650px;
  }
}

@media only screen and (min-height: 650px) and (max-width: 1000px) {
  .graphic {
    height: 650px;
  }
}

@media only screen and (max-height: 650px) and (max-width: 1000px) {
  .graphic {
    height: 100vh;
  }
}

@media only screen and (max-height: 580px) and (max-width: 1000px) {
  .graphic {
    height: 580px;
  }
}

